.login {
  background-color: #1b1f25;
  width: 100%;
  height: 100%;
  margin: auto;
}
.login .login_title {
  width: 100%;
  height: 6.25rem;
  line-height: 6.25rem;
  background-color: #181919;
}
.login .login_title h3 {
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  margin-left: 3.125rem;
}
.login .login_bgc {
  width: 800px;
  height: 300px;
  padding: 0.625rem 0rem;
  background-color: #2e3a48;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.login .login_bgc .login_h3 {
  color: #fff;
}
.login .login_bgc .login-username {
  width: 50%;
  margin: 10px;
  padding: 0.625rem;
}
.login .login_bgc .login_button {
  width: 50%;
}
